<% if !@recordings.empty? %>
  <span class="center"><h1>Recordings</h1></span>

  <% @recordings.each do |recording| %>
    <ul class="recordings">
      <li><%= recording.created_at.strftime("%B %e, %Y") %> -
        <a href="<%= recording.recording %>" target="_blank"><%= recording.question.question %> </a>
      </li>
      <div class="comment_container">
        <% if !recording.comments.blank? %>
          <div class="comment">
            <%= render partial: "comment", collection: recording.comments %>
          </div>
        <% end %>
        <%= form_for @comment do |f| %>
          <%= f.hidden_field :recording_id, value: recording.id %>
          <%= f.text_area :body %>
          <%= f.submit "Add Comment" %>
        <% end %>
      </div>
    </ul>
  <% end %>
<% end %>
