<div class="recordings_container">

  <% if @recordings.any? %>
    <div id="all_user_recordings_container">
      <h2 class="center">Most Recent Recordings</h2>

      <% @recordings.each do |recording| %>
        <div class="user_recording">
          <ul>
            <h4><%= recording.question.question %></h4>
            <li>Answered by <%= recording.user.first_name %> on <%= recording.created_at.strftime("%B %e, %Y") %></li>
            <li>
              <audio controls>
                <source src="<%= recording.recording %>" type="audio/x-wav">
                Your browser does not support the audio
                element. <%= link_to "Listen to the audio here", recording.recording, target: "_blank" %>
              </audio>
            </li>
            <div class="comment_container" ng-controller="CommentsController">
              <h4 class="comment_header">Comments</h4>

              <div class="comments">
                <ul ng-repeat="comment in comments | orderBy:filter_by:reverse">
                  <li>{{comment.user_first_name}} wrote {{comment.created_at | fromNow}}</li>
                  <li>{{comment.body}}</li>
                </ul>
                <% if recording.comments.any? %>
                  <%= render partial: "comment", collection: recording.comments.reverse %>
                <% end %>
              </div>
              <a class="main_link" ng-click="toggleForm()">{{form.message}}</a>

              <div class="comments-form-container" ng-show="showForm">
                <form ng-submit="addComment(<%= recording.id %>)">
                  <textarea name="comment[body]" ng-model="comment.body" placeholder="Share your thoughts!"></textarea>
                  <input type="submit" value="Add Comment" class="main_cta">
                </form>
              </div>
            </div>
          </ul>
        </div>
      <% end %>
    </div>
  <% end %>
</div>