<nav>
  <span class="left">
  <%= image_tag("PhoneInterviewMe.png", class: "logo") %>
  </span>
</nav>

<div id="wrapper">
  <div id="welcomebox">
    <% if @user.errors.present? %>
      <% @user.errors.full_messages.each do |message| %>
        <p><span id="errors"><%= message %></span></p>
      <% end %>
    <% end %>

    <h1 id="orange">Welcome, <%= current_user.first_name %>!</h1>
    <%= form_for @user do |f| %>
      <%= f.label :phone_number %>
      <%= f.telephone_field :phone_number %>
      <%= f.submit "Add Phone Number" %>
    <% end %>
  </div>
</div>
