<h2 class="center">My Profile</h2>

<div id="profile_information">
  <h3>Profile Information</h3>
  <div class="profile_info">

  <%= image_tag current_user.image_url %>
  <p><%= current_user.email %></p>
  <p>Current phone number: <%= number_to_phone(current_user.phone_number, area_code: true) %></p>

  <%= link_to "Update Phone Number", edit_phone_path, class: "main_cta" %>
</div>
  </div>

<% if @recordings.any? %>
    <div id="user_recordings_container">
      <h3>My Recordings</h3>

      <% @recordings.each do |recording| %>
          <div class="user_recording">
            <ul>
              <h4><%= recording.question.question %></h4>
              <li>Answered on <%= recording.created_at.strftime("%B %e, %Y") %></li>
              <li>
                <audio controls>
                  <source src="<%= recording.recording %>" type="audio/x-wav">
                  Your browser does not support the audio element.
                  <%= link_to "Listen to the audio here", recording.recording, target: "_blank" %>
                </audio>
                <label for="check-box">
                <input class="check-box" name="check-box" data-recording-id="<%= recording.id %>" type="checkbox"
                       <% if recording.public %>checked
                       <% end %>>
                  Make recording Public
                </label>
              </li>
            </ul>
          </div>
      <% end %>
    </div>
<% end %>

<script>
    $(document).ready(function () {
        var userShow = new UserShow();
        userShow.initialize();
    });
</script>
