<div id="homepage_container">
  <h1 class="center">Welcome to PhoneInterviewMe</h1>

  <p class="center flash"><%= flash[:auth_failure] %></p>

  <p class="center flash"><%= flash[:logout] %></p>

  <div id="welcome_container" class="center">
    <%= link_to "About this project", "#", class: "js_welcome_toggle main_link" %>
    <%= link_to "Login with LinkedIn", "/auth/linkedin", class: "main_link" %>
  </div>
  <div id="about_welcome_container" class="center" hidden>
    <%= link_to "Back to Login", "#", class: "js_welcome_toggle main_link" %>
    <p>
      Phone interviews are commonplace in the tech industry. Interviewees are screened for technical and
      interpersonal skills before having to travel, which means they can be very important in landing an
      in-person interview. This app can help the job seeker practice answering phone interview questions.
    </p>

    <h4>This app was created in collaboration with the following awesome people:</h4>

    <a class="main_link" href="https://www.linkedin.com/in/nathanaelburt">Nathanael Burt</a>
    <a class="main_link" href="https://www.linkedin.com/pub/kaylee-edmonson/93/30a/38a">Kaylee Edmonson</a>
    <a class="main_link" href="https://www.linkedin.com/in/sethmusulin">Seth Musulin</a>
    <a class="main_link" href="https://www.linkedin.com/in/emilyplatzer">Emily Platzer</a>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    var welcome = new Welcome();
    welcome.initialize();
  });
</script>
